# top-most EditorConfig file
root = true

# Apply to all files
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Kotlin specific rules
[*.{kt,kts}]
max_line_length=120

# Ruby specific rules
[{*.rb,Fastfile,Gemfile}]
indent_style = space
indent_size = 2


