.DS_Store
/tmp
/lib/drawText
/coverage

# Testing
/test_results
/lib/drawText.bundle
/ext/drawText/drawText.xcodeproj/xcuserdata
/ext/drawText/drawText.xcodeproj/project.xcworkspace/xcuserdata
/ext/drawText/test-output
/default.profraw
