.DS_Store
/tmp

# JetBrains IDE files
.idea

# VSCode IDE files
.vscode

# Ruby / Bundler
vendor/bundle

# Fastlane
fastlane/README.md
fastlane/report.xml

# Testing
test_results/
coverage/

# YARD Documentation
yard-doc/

# L10n Linter
vendor/swiftgen

# Build Products
*.gem
