version: 2.1

orbs:
  ios: wordpress-mobile/ios@1.0
  codecov: codecov/codecov@1.0.2

jobs:
  test:
    executor:
      name: ios/default
      xcode-version: "11.2.1"
    environment:
      HOMEBREW_NO_AUTO_UPDATE: 1
      PKG_CONFIG_PATH: "/usr/local/opt/imagemagick@6/lib/pkgconfig"
    steps:
      - checkout

      - restore_cache:
          name: Restore Homebrew + Ruby Dependencies
          keys:
            - &cache_key brew-dependencies-{{ checksum ".circleci/.brewfile" }}-{{ checksum "Gemfile.lock" }}

      - run:
          name: Install Homebrew dependencies, if neeeded
          command: xargs brew install --verbose < .circleci/.brewfile

      - run:
          name: Install Ruby dependencies, if neeeded
          command: bundle check --path vendor/bundle || bundle install --with screenshots

      - save_cache:
          name: Cache Homebrew + Ruby Dependencies
          key: *cache_key
          paths:
            - vendor/
            - /usr/local/Cellar
            
      - run: # Compile drawText
          name: Compile drawText
          command: bundle exec rake compile

      - run:
          name: Run rspec and upload coverage report
          command: |
            bundle exec rspec --profile 10 \
                              --format RspecJunitFormatter \
                              --out test_results/rspec.xml \
                              --format progress \
                              $(circleci tests glob "spec/**/*_spec.rb" | circleci tests split --split-by=timings)

      # Save test results for timing analysis
      - store_test_results:
          path: test_results
      
      # Coverage reports are sent to Codecov as part of running `rspec`, not as a CircleCI step.
      # We may wish to change this for consistency.

workflows:
  test:
    jobs:
      - test
